<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div class="container">
<%= link_to  "Add Post", new_user_post_path %>

<% @posts.each do |post| %>
<div><%= post.picture %></div>
<div><%= post.text %></div>

<% end %>
</div>