<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<%= link_to  "CLICK ME", user_posts_path %>
<p><%= @post.picture %></p>
<p><%= @post.text %></p>

<%= link_to  "New Comment", new_post_comment_path(@post.id) %>

